{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="login-body">
    <div class="login-card">
        <div class="login-header">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/company_logo.png' %}" alt="Company Logo" class="login-logo">
            </a>
            <h2>Sign in to your account</h2>
            <p>Welcome back! Enter your credentials below.</p>
        </div>

        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>

            <div class="login-options">
            <div class="login-remember">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <a href="{% url 'forgot_password' %}" class="forgot-password">Forgot password?</a>
            </div>

            <button type="submit" class="login-button">Sign in</button>
        </form>

        <div class="login-footer">
            <p>Not a member? <a href="{% url 'contact_us' %}">Contact Us</a></p>
        </div>
    </div>
</div>
{% if error %}
  <p style="color: red; text-align: center;">{{ error }}</p>
{% endif %}
{% endblock %}
