{% extends 'psrrtech/base1.html' %}
{% load static %}
{% comment %} hr_dashboard.html {% endcomment %}
{% block content %}
<div class="dashboard-container">
  <h2>HR Dashboard</h2>
  <ul class="dashboard-list">
    <li><a href="/admin/psrrtech/employee/">Add/View Employees</a></li>
    <li><a href="/admin/psrrtech/bankdetails/">Edit Bank Details</a></li>
    <li><a href="/admin/psrrtech/idcard/">Issue ID Cards</a></li>
    <li><a href="/admin/psrrtech/workstation/">Assign Workstations</a></li>
    <li><a href="/admin/psrrtech/attendance/">Track Attendance</a></li>
    <li><a href="/admin/psrrtech/payroll/">Process Payroll</a></li>
  </ul>
</div>
{% endblock %}